.socialIcons {
  background-color: white;
  padding: 5px;
  color: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.searchBar {
  background: none;
  border: none;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 14px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: #888;
}

.notifWhislist,
.notifCart {
  position: absolute;
  font-size: .5rem;
  font-weight: bold;
  color: white;
  background-color: rgba(255,0,0,0.9);
  top: -8px;
  right: 0;
  padding: 1px 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.menuAbout {
  position: absolute;
  top: 50px;
  left: 15px;
  background: white;
  z-index: 99;
  border-radius: 3px;
  box-shadow: 0 0 5px #666;
  width: max-content;
}

.menuAboutItem {
  font-weight: bold;
  padding: .5rem 1rem;
}

.menuAboutItem:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.categoryLevelOne {
  position: absolute;
  top: 40px;
  left: 45px;
  background: white;
  color: gray;
  z-index: 99;
  border-radius: 3px;
  box-shadow: 0 0 5px #666;
}

.categoryLevelTwo {
  position: absolute;
  top: 0;
  left: 100%;
  background: #f0f0f0;
  color: gray;
  border-radius: 3px;
  box-shadow: 0 0 5px #666;
}

.categoryLevelOne ul {
  list-style: none;
  padding: 0;
  margin: 0
}

.categoryLevelOne>ul>li {
  padding: .5rem 1.5rem .5rem 1rem;
}

.categoryLevelTwo>ul>li {
  padding: .5rem 1rem;
}

.categoryLevelOne ul li:not(:last-child) {
  border-bottom: solid 1px #eeeeee;
}

.categoryLevelOne>ul>li:hover {
  background: #f0f0f0;
}

.categoryLevelTwo>ul>li:hover {
  color: white;
  background: #253B8E;
}

.chevronRightStyle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #f0f0f0;
}

.productBrands {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  background: white;
  /* border: solid 2px #f0f0f0; */
  border-radius: 8px;
  box-shadow: 0 0 5px #666;
  padding: 2rem;
}

.brandImgWrapper {
  position: relative;
}

.brandImgWrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.brandImgContent {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: .8rem 0;
}

.imgBrand {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px #f0f0f0;
}

.promotionWrapper {
  /* box-shadow: 0 0px 8px #aaa; */
  /* border-radius: 18px; */
  background:none;
}

.promotionPeaceTop {
  position: relative;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 15px 15px 0 0; */
  /* box-shadow: 0 -3px 4px #aaa; */
}

.promotionPeaceBottom {
  position: relative;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px 30px 0 0;
  /* background-color: #f0f0f0; */
  /* box-shadow: 0 3px 4px #aaa; */

  
  /* background: -webkit-radial-gradient(0% 100%, circle, transparent 5%, #f0f0f0 5%) no-repeat, -webkit-radial-gradient(100% 0%, circle, transparent 5%, #f0f0f0 5%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 5%, #f0f0f0 5%) no-repeat, -webkit-radial-gradient(100% 100%, circle, transparent 5%, #f0f0f0 5%) no-repeat;
  background: radial-gradient(circle at 0% 100%, transparent 0%, #f0f0f0 0%) no-repeat, radial-gradient(circle at 102% 2%, transparent 5%, #f0f0f0 5%) no-repeat, radial-gradient(circle at -2% 2%, transparent 5%, #f0f0f0 5%) no-repeat, radial-gradient(circle at 100% 100%, transparent 0%, #f0f0f0 0%) no-repeat;
  background-position: 0% 100%, 100% 0%, 0% 0%, 100% 100%;
  background-size: 75% 75%; */
}

.promotionPeaceBottom:before {
  content: "";
  width: 90%;
  border-top: dashed 2px #253B8E;
  display:block;
  position:absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tiketPromotionTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(0 -3px 4px #cfcfcf);
}
.tiketPromotionBottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(0 3px 4px #cfcfcf);
}

.paymentSteps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacerLine {
  border-bottom: solid 1px #aaa;
  padding: 0 1rem;
  flex-grow: 1;
}

.spacerLineColor {
  border-bottom: solid 2px #253B8E;
  padding: 0 1rem;
  flex-grow: 1;
}

.stepIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}