.LoginContainer {
    background: url('/images/shop-cart.jpg');
    background-size: cover;
    min-height: 100vh;
}

.formWrapper {
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgba(255,255,255,0.9);
}