.pageTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.productImgWrapperThumb:after {
    content: "";
    display: block;
    padding-bottom: 74%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDetails {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.stockStatus {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #aaa;
}

.selectRemoveItem {
    display: flex;
    justify-content: space-between;
    
}

.plusMinus {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.orderQuantity {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 .5rem;
}

.priceInPopup {
    font-size: 1.3rem;
    font-weight: bold;
}

.checkSingleItem {
    position: absolute;
    left: 1rem;
}

.subTotal {
    position: relative;
    font-size: 1.3rem;
    text-align: right;
}

@media(max-width: 767px) {
    .subTotal {
        text-align: left;
    }
}