.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.productImgWrapperThumb:after {
    content: "";
    display: block;
    padding-bottom: 74%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.statusIcon {
    width: 60px;
    height: 60px;
    border: solid 1px #253B8E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusIconGray {
    width: 60px;
    height: 60px;
    border: solid 1px #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusIcon img[alt="sand timer"],
.statusIcon img[alt="cart checked"],
.statusIcon img[alt="truck"],
.statusIcon img[alt="delivered"],
.statusIconGray img[alt="sand timer"],
.statusIconGray img[alt="cart checked"],
.statusIconGray img[alt="truck"],
.statusIconGray img[alt="delivered"] {
    width: 50%;
}
.statusIcon img[alt="thumb up"],
.statusIconGray img[alt="thumb up"] {
    width: 75%;
    position: relative;
    bottom: 2px;
}

.statusText {
    position: absolute;
    bottom: -2rem;
    font-size: 85%;
    text-align: center;
    line-height: 1.2;
    color: #253B8E;
    width: max-content;
}

.statusTextGray {
    position: absolute;
    bottom: -2rem;
    font-size: 85%;
    text-align: center;
    line-height: 1.2;
    color: #ccc;
    width: max-content;
}

@media(max-width: 575px) {
    .statusIconGray,
    .statusIcon {
        width: 40px;
        height: 40px;
    }
    .statusText,
    .statusTextGray {
        font-size: 75%;
    }
}

.liner {
    border-bottom: solid 1px #253B8E;
    flex-grow: 1;
}
.linerGray {
    border-bottom: solid 1px #ccc;
    flex-grow: 1;
}