.imgCarouselWrapper {
    background-color: #859BEE;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    margin-top: 2rem;
}

.imgCarousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgPayments {
    width: 80px;
}

.favProductWrapper {
    border-radius: 10px;
    overflow: hidden;
}

.favProductImgWrapper {
    position: relative;
}

.favProductImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 130%;
}

.favProductImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.favProductCard {
    padding: 1.5rem 1rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px 5px 0;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.arrowButton {
    width: 25px;
    height: 20px;
    position: absolute;
    right: -25px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .7rem;
}

.categoryTitle {
    text-align: center;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.productDetails {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.addToCart {
    display: flex;
    height: 28px;
}

.seeMore {
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: .25rem;
}

.tipstricksWrapper {
    border-radius: 10px;
    border: solid 2px #f0f0f0;
    overflow: hidden;
}

.tipstricksImgWrapper {
    position: relative;
}

.tipstricksImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 130%;
}

.tipstricksImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tipstricksDetails {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}