.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.productImgWrapperThumb:after {
    content: "";
    display: block;
    padding-bottom: 74%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modalContainer {
    position: relative;
    background: white;
    border-radius: 8px;
    width: 60%;
    height: 80%;
    padding: 2rem;
}

@media(max-width: 575px) {
    .modalContainer {
        width: 85%;
        padding: 1.5rem;
    }
}

.modalTitle {
    width: 80%;
}

.modalContent {
    max-height: 90%;
    overflow-y: auto;
}
.closeModal {
    font-size: 1.3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}