.pageTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 85%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDetails {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.addToCart {
    display: flex;
    height: 28px;
}

.filterFlag {
    position: absolute;
    top: 1rem;
    left: .5rem;
    padding: 0 .8rem;
    background: #258E42;
    color: white;
}

.stockStatus {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #aaa;
}