.paymentLogos {
    margin-top: -50px;
}

@media(max-width: 991px) {
    .paymentLogos {
        margin-top: 2rem;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .paymentImage {
        margin-bottom: 1.5rem;
    }
}

.socialIconsPrimary {
    font-size: 1.3rem;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  