.pageTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.productWrapper {
    border: solid 2px #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.productImgWrapper {
    position: relative;
}

.productImgWrapper:after {
    content: "";
    display: block;
    padding-bottom: 80%;
}

.productImgWrapperThumb:after {
    content: "";
    display: block;
    padding-bottom: 74%;
}

.productImgContent {
    position: absolute;
    width: 100%;
    height: 100%;
}

.imgProduct {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.stockStatus {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #aaa;
}

.addToCart {
    display: flex;
    height: 21px;
}

.heartIcon {
    position: relative;
    bottom: 2px;
}

.filterFlag {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0 .8rem;
    background: #258E42;
    color: white;
}

.shareIcon {
    font-size: 90%;
    position: relative;
    bottom: 2px;
    margin-right: 3px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}
.priceInPopup {
    font-size: 1.3rem;
    font-weight: bold;
}

.plusMinus {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.orderQuantity {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 .5rem;
}

.addToCartBtn {
    text-align: center;
    flex-grow: 1;
    max-width: 230px;
}

.sectionTitle {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem;
}

.liner {
    border-bottom: solid 2px #253B8E;
    flex-grow: 1;
}

.modalAddtoCartWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modalAddToCartContainer {
    position: relative;
    background: white;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    padding: 2rem;
}


.modalAddToCartContent {
    max-height: 90%;
    overflow-y: auto;
}

.modalTitle {
    width: 80%;
}

.closeModal {
    font-size: 1.3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.cartButton {
    width: 50%;
    margin-bottom: 1rem;
    text-align: center;
}

.binIcon {
    padding: 0 3px 2px;
    border-radius: 3px;
    border: solid 1px #253B8E;
}

.swiperSlide {
    background: red;
    width: 30%;
}

.seeAllLink {
    height: 100%;
    display: flex;
    align-items: center;
}