html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-color-primary {
  background-color: #253B8E;
}

.bg-color-primary-light {
  background-color: #606fa3;
}

.color-primary {
  color: #253B8E;
}

.color-secondary {
  color: #aaa;
}

.border-color-primary {
  border: solid 1px #253B8E!important;
}

.border-color-primary-light {
  border: solid 1px #929fcc!important;
}

.border-color-secondary {
  border: solid 1px #f0f0f0;
}

.bg-gray {
  background-color: #f0f0f0;
}

.button-hover:hover {
  background-color: #203377;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.primary-button {
  background: #253B8E;
  color: white;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.secondary-button {
  background: #f0f0f0;
  color: #253B8E;
  padding: .5rem 1rem;
  border-radius: 5px;
}

.secondary-button:hover {
  background: #e0e0e0;
  cursor: pointer;
}

.primary-button:hover {
  background: #203377;
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}